<div class="about-container">
  <mat-card class="about-card">
    <mat-card-header>
      <!-- <mat-card-title class="title-icon">
        Software Developer Crafting Impactful Web Experiences
        <mat-icon>code</mat-icon>
      </mat-card-title> -->
      <h2 class="title-icon">
        Software Developer Crafting Impactful Web Experiences
      </h2>
    </mat-card-header>
    <mat-card-content>
      <p>
        I'm a highly motivated software developer with a proven track record of
        delivering high-quality web applications. I'm passionate about clean
        code, user-centric design, and leveraging technology to solve real-world
        problems. My background in engineering has instilled in me a strong work
        ethic, analytical thinking, and a focus on continuous improvement.
      </p>

      <h2 class="title-icon">
        Educational Qualifications
        <mat-icon>school</mat-icon>
      </h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Technische Universität Hamburg, Germany
            </mat-panel-title>
            <mat-panel-description>
              Master of Science in Information and Communication Systems
              <span class="year-inline">[2018–2024]</span>
            </mat-panel-description>
            <span class="year">2018–2024</span>
          </mat-expansion-panel-header>

          <div class="course-section">
            <h3 class="course-header">Key Courses Completed</h3>
            <ul class="course-list">
              <li>
                <span class="course-icon">📘</span> Design and Implementation of
                Software Systems
              </li>
              <li><span class="course-icon">📘</span> Software Verification</li>
              <li><span class="course-icon">📘</span> Software Security</li>
              <li>
                <span class="course-icon">📘</span> Communication Networks
              </li>
              <li>
                <span class="course-icon">📘</span> Machine Learning and Data
                Mining
              </li>
              <li><span class="course-icon">📘</span> Traffic Engineering</li>
            </ul>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="custom-expansion-panel-header">
            <mat-panel-title>Leading University, Bangladesh</mat-panel-title>
            <mat-panel-description>
              Bachelor of Science in Electrical and Electronic Engineering
              <span class="year-inline">[2013–2017]</span>
            </mat-panel-description>
            <span class="year">2013–2017</span>
          </mat-expansion-panel-header>
          <div class="course-section">
            <h3 class="course-header">Key Courses Completed</h3>
            <ul class="course-list">
              <li><span class="course-icon">📘</span> Computer Programming</li>
              <li>
                <span class="course-icon">📘</span> Microprocessor, Assembly
                Language & Computer Interfacing
              </li>
              <li>
                <span class="course-icon">📘</span> Communication Networks
              </li>
              <li><span class="course-icon">📘</span> Computer Networks</li>
              <li><span class="course-icon">📘</span> Traffic Engineering</li>
              <li><span class="course-icon">📘</span> Numerical Methods</li>
              <li>
                <span class="course-icon">📘</span> Probability and Statistics
              </li>
              <li><span class="course-icon">📘</span> Professional Etics</li>
            </ul>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <h2 class="title-icon">
        Professional Experience
        <mat-icon>work</mat-icon>
      </h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="custom-expansion-panel-header">
            <mat-panel-title>Pakajo GmbH, Hamburg, Germany</mat-panel-title>
            <mat-panel-description>
              Software Developer (Working Student)
              <span class="year-inline">[2022–2024]</span>
            </mat-panel-description>
            <span class="year">2022–2024</span>
          </mat-expansion-panel-header>
          <div class="responsibilty-section">
            <h3 class="responsibilty-header">Key Responsibilties</h3>
            <ul class="responsibilty-list">
              <li>
                <span class="responsibilty-icon">&#9989;</span> Contributed to
                the development of a module for automating data interchange
                between e-commerce platforms and the company dashboard using
                JavaScript, PHP, HTML, and CSS.
              </li>
              <li>
                <span class="responsibilty-icon">&#9989;</span> Collaborated on
                engineering tracking and notification systems across Telegram
                and WhatsApp, improving merchant-buyer interactions and customer
                satisfaction.
              </li>
              <li>
                <span class="responsibilty-icon">&#9989;</span> Supported IT
                team in shop system integration, troubleshooting, and customer
                queries.
              </li>
              <li>
                <span class="responsibilty-icon">&#9989;</span> Conducted
                updates, and documented shop and web systems.
              </li>
            </ul>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="custom-expansion-panel-header">
            <mat-panel-title>
              MD Media Publishing Service GmbH, Hamburg, Germany
            </mat-panel-title>
            <mat-panel-description>
              Software Developer (Working Student)
              <span class="year-inline">[2021–2022]</span>
            </mat-panel-description>
            <span class="year">2021–2022</span>
          </mat-expansion-panel-header>
          <div class="responsibilty-section">
            <h3 class="responsibilty-header">Key Responsibilties</h3>
            <ul class="responsibilty-list">
              <li>
                <span class="responsibilty-icon">&#9989;</span> Contributed to
                the development dynamic web applications for Shopify and
                WooCommerce, optimizing user experiences and backend operations
                with PHP and JavaScript.
              </li>
              <li>
                <span class="responsibilty-icon">&#9989;</span> Co-developed a
                multilingual translation feature using Google Translation AI,
                expanding market reach and enhancing user interaction.
              </li>
              <li>
                <span class="responsibilty-icon">&#9989;</span> Collaborated on
                engineering tracking and notification systems across Telegram
                and WhatsApp, improving merchant-buyer interactions and customer
                satisfaction.
              </li>
              <li>
                <span class="responsibilty-icon">&#9989;</span> Supported IT
                team in shop system integration, troubleshooting, and customer
                queries.
              </li>
              <li>
                <span class="responsibilty-icon">&#9989;</span> Conducted
                updates, and documented shop and web systems.
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <h2 class="title-icon">
        Certifications
        <mat-icon>workspace_premium</mat-icon>
      </h2>
      <p>
        I am continuously improving my skills through various certifications.
        Here are some of the certifications I have earned:
      </p>
      <ul class="certification-list">
        <li class="certification-item">
          <mat-icon class="certification-icon" matListItemIcon
            >verified</mat-icon
          >
          Angular - The Complete Guide (2024 Edition)
          <a
            href="https://www.udemy.com/certificate/UC-2647250b-c58c-45e0-a840-9eea103c88d8/"
            target="_blank"
            class="certification-link"
          >
            <button
              class="certification-button"
              mat-stroked-button
              color="primary"
              matTooltip="Open in a new page"
            >
              <mat-icon>open_in_new</mat-icon> View Certificate
            </button>
          </a>
        </li>
        <li class="certification-item">
          <mat-icon class="certification-icon" matListItemIcon
            >verified</mat-icon
          >
          Understanding TypeScript
          <a
            href="https://www.udemy.com/certificate/UC-512d60fa-90a4-4b69-ab69-0bcbff9b2ee8/"
            target="_blank"
            class="certification-link"
          >
            <button
              class="certification-button"
              matTooltip="Open in a new page"
              mat-stroked-button
              color="primary"
            >
              <mat-icon>open_in_new</mat-icon> View Certificate
            </button>
          </a>
        </li>
        <li class="certification-item">
          <mat-icon class="certification-icon" matListItemIcon
            >verified</mat-icon
          >
          RxJS 7 and Observables: Introduction
          <a
            href="https://www.udemy.com/certificate/UC-438016f5-5f34-4899-81a3-db0f67337736/"
            target="_blank"
            class="certification-link"
          >
            <button
              class="certification-button"
              mat-stroked-button
              color="primary"
              matTooltip="Open in a new page"
            >
              <mat-icon>open_in_new</mat-icon> View Certificate
            </button>
          </a>
        </li>
        <li class="certification-item">
          <mat-icon class="certification-icon" matListItemIcon
            >verified</mat-icon
          >
          JavaScript Unit Testing
          <a
            href="https://www.udemy.com/certificate/UC-e227c63e-0467-43d1-892c-181d0cdc253f/"
            target="_blank"
            class="certification-link"
          >
            <button
              class="certification-button"
              mat-stroked-button
              color="primary"
              matTooltip="Open in a new page"
            >
              <mat-icon>open_in_new</mat-icon> View Certificate
            </button>
          </a>
        </li>
      </ul>

      <h2 class="title-icon">
        Professional Development
        <mat-icon>record_voice_over</mat-icon>
      </h2>
      I am an active member of
      <a
        href="https://www.toastmasters.org/"
        target="_blank"
        color="primary"
        class="toastmasters-link"
        >Toastmasters International</a
      >, where I work on enhancing my public speaking and leadership skills.
      This involvement has significantly improved my communication abilities and
      confidence in professional settings.
    </mat-card-content>
  </mat-card>
</div>
