.sidenav-container {
  min-height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
}

.sidenav {
  width: 250px;
}

.sidenav a[mat-list-item] {
  color: white;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
}

.sidenav .mat-toolbar {
  position: relative;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.spacer {
  flex: 1 1 auto;
}

.menu-button {
  display: none;
}

.logo {
  height: 2.5rem;
  margin-left: 1rem;
  border-radius: 50%;
}

.desktop-nav {
  display: none;
}

.active-link {
  font-weight: bold;
}

@media (max-width: 599px) {
  .menu-button {
    display: inline-flex;
  }

  .desktop-nav {
    display: none;
  }

  .active-link {
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 4px 8px;
  }

  .logo {
    display: none;
  }
}

@media (min-width: 600px) {
  .menu-button {
    display: none;
  }

  .desktop-nav {
    display: flex;
  }

  .sidenav {
    display: none;
  }

  .active-link {
    background-color: transparent;
    color: #000;
  }

  .logo {
    display: inline-block;
  }
}
